body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightgray;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 34px;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.player-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
}

#player1 {
    padding: 20px;
    border: solid 2px royalblue;
}

#player2 {
    padding: 20px;
    border: solid 2px rgb(209, 46, 46);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex: none;
    width: 375px;
    padding: 15px;
    border: solid 2px black;
    border-radius: 5px;
}

.p1Selection,
.p2Selection {
    border: solid 2px black;
    border-radius: 2px;
    background-color: white;
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;
}

#p1-sel {
    border: solid 3px royalblue;
}

#p2-sel {
    border: solid 3px rgb(209, 46, 46);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 125px;
    width: 125px;
    font-family: "Ubuntu", sans-serif;
    font-size: 64px;
}

#box-0 {
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#box-1 {
    border-bottom: solid 2px black;
}

#box-2 {
    border-left: solid 2px black;
    border-bottom: solid 2px black;
}

#box-3 {
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

#box-4 {
    border-bottom: solid 2px black;
}

#box-5 {
    border-left: solid 2px black;
    border-bottom: solid 2px black;
}

#box-6 {
    border-right: solid 2px black;
}

#box-8 {
    border-left: solid 2px black;
}

.p1-color {
    color: royalblue;
}

.p2-color {
    color: rgb(209, 46, 46);
}

.turn-container {
    display: flex;
    gap: 10px;
}

.turn-btns {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

.turn-p1 {
    border: solid 3px royalblue;
}

.turn-p2 {
    border: solid 3px rgb(209, 46, 46);
}

#start-btn {
    transition: all .2s;
}

.start-pressed {
    border: 3px solid purple;
    border-radius: 4px;
}

.win-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
}

.win-open {
    opacity: 1;
    pointer-events: auto;
}

.win-close {
    opacity: 0;
    pointer-events: none;
}

input {
    width: 100px;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}